<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>607095598494-6h0eg0cvpddifep776t06sgq91bcd93l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.607095598494-6h0eg0cvpddifep776t06sgq91bcd93l</string>
	<key>API_KEY</key>
	<string>AIzaSyD3ck7hGw1azwf_ZYj0yQ8dVGFiEJmDEs8</string>
	<key>GCM_SENDER_ID</key>
	<string>607095598494</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.servingfan.fanApp</string>
	<key>PROJECT_ID</key>
	<string>jdtservingfan</string>
	<key>STORAGE_BUCKET</key>
	<string>jdtservingfan.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:607095598494:ios:1345c3b7457349fb8cba8f</string>
</dict>
</plist>